<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> </title>
    <link rel="shortcut icon" href="http://localhost:5000/icon/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="http://localhost:5000/css/style.css">
    <link rel="stylesheet" href="http://localhost:5000/css/bootstrap.css">
</head>
<body>
    <%- include('../partials/navigation-home'); %>
    <%- include('./register-content'); %>
    <%- include('../partials/footer'); %> 
</body>
</html>
