<style>
    .re-footer {
        padding: 15px 0px;
    }
    .re-footer p {
        font-size: 18px;
        margin: 0px;
    }
    @media (max-width: 575.98px) {}
    @media (max-width: 767.98px) {}
    @media (max-width: 991.98px) {}
    @media (max-width: 1199.98px) {}
    @media (max-width: 1399.98px) {}
</style>
<footer class="re-footer">
    <div class="container text-center">
        <p>© <%-data%> Pestana - Todos os diretos reservados.</p>
    </div>
</footer>
<script src="http://localhost:5000/js/bootstrap.js"></script>
<script src="http://localhost:5000/js/script.js"></script>
<script src="http://localhost:5000/js/validation-form.js"></script>