<style>
    .re-dashboard-content {
        width: 100%;
        height: calc(100vh - 155px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .re-dashboard-content img {
        width: 40%;
    }
    @media (max-width: 575.98px) {}
    @media (max-width: 767.98px) {}
    @media (max-width: 991.98px) {
        .re-dashboard-content img {
            width: 75%;
        }
    }
    @media (max-width: 1199.98px) {}
    @media (max-width: 1399.98px) {}
</style>
<section class="re-dashboard-content">
    <img src="img/img-home.svg">
</section>
<script></script>